.header{
    background: #E5E5E5;
}

.logo{
    height: 145px;
    width: 160px;
    padding: 25px;
}

.buttonHeaderSelected{
    font-family: Bellerose Light;
    padding: 10px;
    color: #CC3366;
    font-weight: 500;
    font-size: 31px;
    /**background-color: rgb(235, 222, 222);**/
    text-align: center;
    border-radius: 30px;
    cursor: default;
}

.buttonHeaderNotSelected{
    font-family: Bellerose Light;
    color: #CC3366;
    font-weight: 500;
    font-size: 23.5px;
    text-align: center;
    border-radius: 30px;
}

.buttonHeaderNotSelected:hover{
    font-family: Bellerose Light;
    padding: 10px;
    color: #CC3366;
    font-weight: 500;
    font-size: 31px;
    background-color: rgb(235, 222, 222);
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}